.menuButton {
  position: relative;
  width: max-content;
  left: 10%;
  top: 25px;
  padding: 5px;
  margin-bottom: 16px;
}
.menuImage {
  height: 95%;
  filter: drop-shadow(0 0 1px #6e6e6e);
}

.menuModal {
  --width: 96%;
  --height: 50%;
  --border-radius: 16px;
}

.menuModal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}
.menuContent {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  border-radius: 16px;
}
.modalHeader {
  border-radius: 16px;
  --background: #ff4c01;
  --color: white;
  margin-bottom: 16px;
}
.closeButton {
  --border-radius: 10px !important;
  --background: #191a1f !important;
}
.iconsWrapper{
  padding: 10px;
}
.footerIcons{
  width: 100%;
  height: 100%;
}
.bgUnset{
  --background:unset;
  background-color: unset;
}
.darkModeToggle{
  height: 10px;
  width: 65px;
  padding: 12px;
  --handle-width: 25px;
  --handle-height: 25px;
  --handle-max-height: auto;
  --handle-spacing: 6px;
  --handle-border-radius: 7px;
  --handle-box-shadow: none;
  --handle-background: currentcolor;
  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
  contain: none;
}