.slideWrapper {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  min-height: 56vh;
}
.slideContent {
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: left;
  left: 15%;
}

